$primary-gold: #FFDB63;
$primary-font-color: #7E8892;
$primary-blue: #29314C;
body {
	margin: 0;
}
#main-content {
	background: $white;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: auto;

	.info-title {
		h5 {
			font-family: 'MarkPro';
			font-size: 15px;
			color: $primary-font-color;
			-webkit-font-smoothing: antialiased;
			font-weight: 100;
			@include transform(rotate(-15deg));
			a {
				color: $black;
				font-family: 'MarkPro';
				font-size: 15px;
				color: $primary-font-color;
				border-bottom: 1px solid $primary-gold;
				text-decoration: none;
			}
		}
	}
	.info-bio {
		// background: black;
		// margin-top: 500px;
		
		div.scroll-info {
			margin-top: 400px;
			font-family: 'haptik-med', 'Arial', sans-serif;
	    font-size: 87px; 
      line-height: 90px;
	    text-align: left;
	    font-weight: 400;
	    color: $black;
		}
		h5 {
			// margin-top: 500px;
	    font-family: 'haptik-med', 'Arial', sans-serif;
	    font-size: 87px; 
      line-height: 90px;
	    text-align: left;
	    font-weight: 400;
	    color: $primary-blue;
	    margin-left: 4vw;
	    margin-right: 4vw;
	    // color: $black;
	    p.hidden-bio {
	    	display: none;
	    	font-size: 50px;
	    	&.active {
	    		display: block;
	    	}
	    }

	    a.name {
	    	background-image: url('../css/images/instru-line.svg');
	    	// background-size: cover;
	    	color: $primary-blue;
	    	// color: $white;
	    	background-position: bottom;
	    	background-repeat: no-repeat;
	    	text-decoration: none;
	    	&:hover {
	    		color: $primary-gold;
	    	}
	    }
		}
	}
	section.white {
    height: 300px;
    background: white;
    // position: fixed;
    display: block;
    width: 100%;
	}
	section > h2 {
	    position: fixed;
	    top: 190px;
      font-size: 120px;
	    line-height: 120px;
	    // letter-spacing: -0.4rem;
	    margin-left: 4vw;
	    margin-right: 4vw;
	    padding: 62px 0;
	    // font-size: 90px;
	    // font-family: 'haptik-med', 'Arial', sans-serif;
	    // font: bold 48px/48px Helvetica;
	    font-family: Helvetica;
	    font-style: bold;
	}
	section > h2 > span {
	    color: white;
	    display: block;
	}

	section.black {
	    height: 600px;
	    background: black;
	    z-index: 100;
	    margin-top: 300px;

	}
	

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

	.fa {
	 width: 60px;
	 display: block;
	 text-align: center;
	 color:#990000;
	 font:normal 45px 'FontAwesome';
	 line-height:60px;
	 // text-rendering: auto;
	 // -webkit-font-smoothing: antialiased;
	}
	.fa-angle-double-down:before {content: "\f103";}

	.bounce {
	 position: absolute;
	 bottom: 30px;
	 // top: 0;
	 left: 50%;
	 right: 50%;
	 width: 60px;
	 height: 60px;
	 margin-left: -30px;
	 border: 2px solid #990000;
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 -ms-border-radius: 50%;
	 border-radius: 50%;
	 -webkit-animation: bounce 2s infinite ease-in-out;
	 animation: bounce 2s infinite;
 // -moz-animation: bounce 2s infinite;
 // -o-animation: bounce 2s infinite;
 		opacity: 1;
 		@include transition(opacity $slow);
 		&.fade {
 			opacity: .5;
 			@include transition(opacity $slow);
 		}
 		&.fade-out {
 			opacity: 0;
 			@include transition(opacity $slow);
 		}
	}
	
	@-webkit-keyframes bounce {
	 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
	 40% {-webkit-transform: translateY(-50px);}
	 60% {-webkit-transform: translateY(-35px);}
	}


	@-moz-keyframes bounce {
	 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	 40% {-moz-transform: translateY(-30px);}
	 60% {-moz-transform: translateY(-15px);}
	}
	 
	@-o-keyframes bounce {
	 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	 40% {-o-transform: translateY(-30px);}
	 60% {-o-transform: translateY(-15px);}
	}
	@keyframes bounce {
	 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	 40% {transform: translateY(-30px);}
	 60% {transform: translateY(-15px);}
	}

}